name: Build Docker
on:
  workflow_dispatch:
  schedule:
    - cron:  "0 3 * * *"
  push:
    branches:
      - master
jobs:
  generate:
    name: Build Docker
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/bimberlabinternal/rdiscvr
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          pull: true
          push: true
          tags: ghcr.io/bimberlabinternal/rdiscvr:latest
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.PAT }}
            GITHUB_PAT=${{ secrets.PAT }}
          labels: |
            ${{ steps.docker_meta.outputs.labels }}
            org.opencontainers.image.title=rdiscvr
            org.opencontainers.image.description=This in an R package that provides helper functions to query data in LabKey/DISCVR modules. This is mainly for internal use by the Bimber Lab.


